@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.MainContainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.DashBoardContainer1 {
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
}

.DashBoardHeaders h3 {
    font-family: Poppins;
    font-size: 17px;
    font-weight: 600;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;
}

.DashBoardHeaders h2 {
    font-family: Poppins;
    font-size: 24px;
    font-weight: 500;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0;
}

.DashBoardDateheaders {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.DashBoardDateheaders h3 {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #707070;
}

.DashBoardSelector {
    width: 96px;
    height: 24px;
    border: none;
    border-radius: none;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
}

.DashBoardContainer2 {
    width: 85vw;
    height: 90vh;
    margin-top: 15px;
    overflow-x: scroll;
}

.TaskBoard {
    display: flex;
    width: 100vw;
    margin-right: 12px;
}

.Task {
    width: 400px;
    height: 78vh;
    border-radius: 10px;
    background-color: #eef2f5;
    padding-left: 20px;
    margin-left: 20px;
}

.TaskContainer {
    height: 70vh;

    overflow-y: scroll;
    padding-right: 20px;
    padding-left: 0px;
    /* background-color: red; */
}

.TaskCard {
    width: 100%;
    padding-left: 10px;
    margin-bottom: 20px;
    border-radius: 20px;
    background-color: #fff;
}

.TaskCard h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-bottom: 1px;
    text-overflow: ellipsis;
    width: 80%;
    height: 26px;
}

.TaskCard p {
    margin-bottom: 5px;
    font-family: 'Poppins';
    font-size: 10px;
    font-weight: 500;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: left;
}

.TaskCard h4 {
    font-family: 'inter', sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 5px;
}

.TaskCard ul {
    padding-left: 0px;
    margin-top: 0px;
}

.TaskCard li {
    width: 90%;
    height: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 12px;
    border: 1px;
    gap: 10px;
    border: 1px solid #e2e2e2;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
}

.TaskPriority {
    position: relative;
    left: 15px;
    width: 10vw;
}

.Checklist {
    margin-right: 10px;
}

.TaskCheckList {
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
}

.dropdown {
    width: 30px;
    height: 20px;
    border: none;
}

.Track {
    display: flex;
    justify-content: space-between;
}

.trackbtns {
    margin: 20px;
    margin-top: 0px;
}

.btn {
    margin-left: 5px;
    width: 52px;
    height: 22px;
    padding: 5px, 10px, 5px, 10px;
    background: #eeecec;
    cursor: pointer;
    border-radius: 8px;
    border: none;
    font-family: Poppins;
    font-size: 8px;
    font-weight: 500;
    line-height: 12px;
    letter-spacing: 0em;
}

.dueDate {
    width: 52px;
    height: 22px;
    border-radius: 8px;
    border: none;
    font-family: Poppins;
    font-size: 10px;
    font-weight: 500;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: center;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 3px;
}

.create {
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
}

.create button {
    background: transparent;
    border: none;
    cursor: pointer;
}

.dropdownMenu {
    display: flex;

    justify-content: space-between;
}

.dropdownContent {
    width: 110px;
    height: 100px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-radius: 12px;
}

.dropdownContent button {
    background: transparent;
    border: none;
    cursor: pointer;
    margin: 5px;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
}

.dropbtn {
    background: transparent;
    border: none;
    margin-right: 10px;
    margin-top: 10px;
    cursor: pointer;
    /* border: 1px solid #000; */
    width: 20%;
}

.createClose {
    margin-top: 20px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #9cb7c5;
}